/* 2022-03-18[S] */

/* 2022-03-18[E] */

@media (max-width: 60rem) {
  .icon {
    display: inline-block;
    vertical-align: middle;
  }

  .icon-m-arrow-up {
    background-image: url("../../images/app/icons/mobile/arrow-up.png");
    width: 23.5px;
    width: 1.46875rem;
    height: 28px;
    height: 1.75rem;
    background-size: 100% auto;
  }

  .icon-m-award {
    background-image: url("../../images/app/icons/mobile/award.png");
    width: 19.5px;
    width: 1.21875rem;
    height: 26px;
    height: 1.625rem;
    background-size: 100% auto;
  }

  .icon-m-beneficiary {
    background-image: url("../../images/app/icons/mobile/beneficiary.png");
    width: 79.5px;
    width: 4.96875rem;
    height: 79.5px;
    height: 4.96875rem;
    background-size: 100% auto;
  }

  .icon-m-business-financial-1 {
    background-image: url("../../images/app/icons/mobile/business-financial-1.png");
    width: 72px;
    width: 4.5rem;
    height: 62px;
    height: 3.875rem;
    background-size: 100% auto;
  }

  .icon-m-business-financial-2 {
    background-image: url("../../images/app/icons/mobile/business-financial-2.png");
    width: 60px;
    width: 3.75rem;
    height: 60px;
    height: 3.75rem;
    background-size: 100% auto;
  }

  .icon-m-business-financial-3 {
    background-image: url("../../images/app/icons/mobile/business-financial-3.png");
    width: 55px;
    width: 3.4375rem;
    height: 55px;
    height: 3.4375rem;
    background-size: 100% auto;
  }

  .icon-m-business-financial-4 {
    background-image: url("../../images/app/icons/mobile/business-financial-4.png");
    width: 56px;
    width: 3.5rem;
    height: 60.5px;
    height: 3.78125rem;
    background-size: 100% auto;
  }

  .icon-m-business-financial-5 {
    background-image: url("../../images/app/icons/mobile/business-financial-5.png");
    width: 68px;
    width: 4.25rem;
    height: 62px;
    height: 3.875rem;
    background-size: 100% auto;
  }

  .icon-m-business-financial-health {
    background-image: url("../../images/app/icons/mobile/business-financial-health.png");
    width: 240.5px;
    width: 15.03125rem;
    height: 221px;
    height: 13.8125rem;
    background-size: 100% auto;
  }

  .icon-m-business-region-diy-1 {
    background-image: url("../../images/app/icons/mobile/business-region-diy-1.png");
    width: 105.5px;
    width: 6.59375rem;
    height: 105.5px;
    height: 6.59375rem;
    background-size: 100% auto;
  }

  .icon-m-business-region-diy-2 {
    background-image: url("../../images/app/icons/mobile/business-region-diy-2.png");
    width: 105.5px;
    width: 6.59375rem;
    height: 105.5px;
    height: 6.59375rem;
    background-size: 100% auto;
  }

  .icon-m-business-region-diy-3 {
    background-image: url("../../images/app/icons/mobile/business-region-diy-3.png");
    width: 105.5px;
    width: 6.59375rem;
    height: 105.5px;
    height: 6.59375rem;
    background-size: 100% auto;
  }

  .icon-m-business-region-diy-5 {
    background-image: url("../../images/app/icons/mobile/business-region-diy-5.png");
    width: 105.5px;
    width: 6.59375rem;
    height: 105.5px;
    height: 6.59375rem;
    background-size: 100% auto;
  }

  .icon-m-email {
    background-image: url("../../images/app/icons/mobile/email.png");
    width: 23px;
    width: 1.4375rem;
    height: 23px;
    height: 1.4375rem;
    background-size: 100% auto;
  }

  .icon-m-face-caution {
    background-image: url("../../images/app/icons/mobile/face-caution.png");
    width: 39.5px;
    width: 2.46875rem;
    height: 42.5px;
    height: 2.65625rem;
    background-size: 100% auto;
  }

  .icon-m-face-danger {
    background-image: url("../../images/app/icons/mobile/face-danger.png");
    width: 40px;
    width: 2.5rem;
    height: 41.5px;
    height: 2.59375rem;
    background-size: 100% auto;
  }

  .icon-m-face-excellent {
    background-image: url("../../images/app/icons/mobile/face-excellent.png");
    width: 40px;
    width: 2.5rem;
    height: 41px;
    height: 2.5625rem;
    background-size: 100% auto;
  }

  .icon-m-face-good {
    background-image: url("../../images/app/icons/mobile/face-good.png");
    width: 39.5px;
    width: 2.46875rem;
    height: 42px;
    height: 2.625rem;
    background-size: 100% auto;
  }

  .icon-m-face-weak {
    background-image: url("../../images/app/icons/mobile/face-weak.png");
    width: 39px;
    width: 2.4375rem;
    height: 41.5px;
    height: 2.59375rem;
    background-size: 100% auto;
  }

  .icon-m-introduce-vision-financial {
    background-image: url("../../images/app/icons/mobile/introduce-vision-financial.png");
    width: 48px;
    width: 3rem;
    height: 67px;
    height: 4.1875rem;
    background-size: 100% auto;
  }

  .icon-m-introduce-vision-healthy {
    background-image: url("../../images/app/icons/mobile/introduce-vision-healthy.png");
    width: 67px;
    width: 4.1875rem;
    height: 65px;
    height: 4.0625rem;
    background-size: 100% auto;
  }

  .icon-m-layer-close {
    background-image: url("../../images/app/icons/mobile/layer-close.png");
    width: 17px;
    width: 1.0625rem;
    height: 17px;
    height: 1.0625rem;
    background-size: 100% auto;
  }

  .icon-m-login {
    background-image: url("../../images/app/icons/mobile/login.png");
    width: 17px;
    width: 1.0625rem;
    height: 22px;
    height: 1.375rem;
    background-size: 100% auto;
  }

  .icon-m-logout {
    background-image: url("../../images/app/icons/mobile/logout.png");
    width: 17px;
    width: 1.0625rem;
    height: 21.5px;
    height: 1.34375rem;
    background-size: 100% auto;
  }

  .icon-m-map-pin {
    background-image: url("../../images/app/icons/mobile/map-pin.png");
    width: 23px;
    width: 1.4375rem;
    height: 23px;
    height: 1.4375rem;
    background-size: 100% auto;
  }

  .icon-m-play {
    background-image: url("../../images/app/icons/mobile/play.png");
    width: 9px;
    width: 0.5625rem;
    height: 13px;
    height: 0.8125rem;
    background-size: 100% auto;
  }

  .icon-m-service-1 {
    background-image: url("../../images/app/icons/mobile/service-1.png");
    width: 55px;
    width: 3.4375rem;
    height: 48px;
    height: 3rem;
    background-size: 100% auto;
  }

  .icon-m-service-2 {
    background-image: url("../../images/app/icons/mobile/service-2.png");
    width: 55px;
    width: 3.4375rem;
    height: 54.5px;
    height: 3.40625rem;
    background-size: 100% auto;
  }

  .icon-m-service-3 {
    background-image: url("../../images/app/icons/mobile/service-3.png");
    width: 55px;
    width: 3.4375rem;
    height: 53px;
    height: 3.3125rem;
    background-size: 100% auto;
  }

  .icon-m-service-4 {
    background-image: url("../../images/app/icons/mobile/service-4.png");
    width: 52px;
    width: 3.25rem;
    height: 55px;
    height: 3.4375rem;
    background-size: 100% auto;
  }

  .icon-m-service-5 {
    background-image: url("../../images/app/icons/mobile/service-5.png");
    width: 55.5px;
    width: 3.46875rem;
    height: 49px;
    height: 3.0625rem;
    background-size: 100% auto;
  }

  .icon-m-service-6 {
    background-image: url("../../images/app/icons/mobile/service-6.png");
    width: 55.5px;
    width: 3.46875rem;
    height: 48px;
    height: 3rem;
    background-size: 100% auto;
  }

  .icon-m-service-7 {
    background-image: url("../../images/app/icons/mobile/service-7.png");
    width: 55px;
    width: 3.4375rem;
    height: 50px;
    height: 3.125rem;
    background-size: 100% auto;
  }

  .icon-m-service-8 {
    background-image: url("../../images/app/icons/mobile/service-8.png");
    width: 55px;
    width: 3.4375rem;
    height: 52.5px;
    height: 3.28125rem;
    background-size: 100% auto;
  }

  .icon-m-subway {
    background-image: url("../../images/app/icons/mobile/subway.png");
    width: 23px;
    width: 1.4375rem;
    height: 23px;
    height: 1.4375rem;
    background-size: 100% auto;
  }

  .icon-m-tel {
    background-image: url("../../images/app/icons/mobile/tel.png");
    width: 23px;
    width: 1.4375rem;
    height: 23px;
    height: 1.4375rem;
    background-size: 100% auto;
  }

  .icon-m-volunteer-time {
    background-image: url("../../images/app/icons/mobile/volunteer-time.png");
    width: 79px;
    width: 4.9375rem;
    height: 78px;
    height: 4.875rem;
    background-size: 100% auto;
  }

  .icon-m-volunteer {
    background-image: url("../../images/app/icons/mobile/volunteer.png");
    width: 69.5px;
    width: 4.34375rem;
    height: 67px;
    height: 4.1875rem;
    background-size: 100% auto;
  }
}