/* 2022-03-18[S] */

/* 2022-03-18[E] */

/* 2022-03-18[S] */

/* 2022-03-18[E] */

.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: 100% auto;
}

.icon-award {
  background-repeat: no-repeat;
  background-image: url("../../resources/images/icons/pc/award.png");
  width: 39px;
  width: 2.4375rem;
  height: 52px;
  height: 3.25rem;
}

@media (max-width: 60rem) {
  .icon-award {
    background-image: url("../../images/app/icons/mobile/award.png");
    width: 19.5px;
    width: 1.21875rem;
    height: 26px;
    height: 1.625rem;
    background-size: 100% auto;
  }
}

.icon-beneficiary {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/beneficiary.png");
  width: 72px;
  width: 4.5rem;
  height: 72px;
  height: 4.5rem;
}

@media (max-width: 60rem) {
  .icon-beneficiary {
    background-image: url("../../images/app/icons/mobile/beneficiary.png");
    width: 79.5px;
    width: 4.96875rem;
    height: 79.5px;
    height: 4.96875rem;
    background-size: 100% auto;
  }
}

.icon-business-community-1 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-community-1.png");
  width: 72px;
  width: 4.5rem;
  height: 67px;
  height: 4.1875rem;
}

.icon-business-community-2 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-community-2.png");
  width: 75px;
  width: 4.6875rem;
  height: 63px;
  height: 3.9375rem;
}

.icon-business-community-3 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-community-3.png");
  width: 68px;
  width: 4.25rem;
  height: 61px;
  height: 3.8125rem;
}

.icon-business-community-4 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-community-4.png");
  width: 65px;
  width: 4.0625rem;
  height: 62px;
  height: 3.875rem;
}

.icon-business-community-5 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-community-5.png");
  width: 65px;
  width: 4.0625rem;
  height: 62px;
  height: 3.875rem;
}

.icon-business-culture-1 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-culture-1.png");
  width: 66px;
  width: 4.125rem;
  height: 67px;
  height: 4.1875rem;
}

.icon-business-culture-2 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-culture-2.png");
  width: 73px;
  width: 4.5625rem;
  height: 65px;
  height: 4.0625rem;
}

.icon-business-financial-1 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-1.png");
  width: 72px;
  width: 4.5rem;
  height: 62px;
  height: 3.875rem;
}

@media (max-width: 60rem) {
  .icon-business-financial-1 {
    background-image: url("../../images/app/icons/mobile/business-financial-1.png");
    width: 72px;
    width: 4.5rem;
    height: 62px;
    height: 3.875rem;
    background-size: 100% auto;
  }
}

.icon-business-financial-2 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-2.png");
  width: 57px;
  width: 3.5625rem;
  height: 57px;
  height: 3.5625rem;
}

@media (max-width: 60rem) {
  .icon-business-financial-2 {
    background-image: url("../../images/app/icons/mobile/business-financial-2.png");
    width: 60px;
    width: 3.75rem;
    height: 60px;
    height: 3.75rem;
    background-size: 100% auto;
  }
}

.icon-business-financial-3 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-3.png");
  width: 55px;
  width: 3.4375rem;
  height: 55px;
  height: 3.4375rem;
}

@media (max-width: 60rem) {
  .icon-business-financial-3 {
    background-image: url("../../images/app/icons/mobile/business-financial-3.png");
    width: 55px;
    width: 3.4375rem;
    height: 55px;
    height: 3.4375rem;
    background-size: 100% auto;
  }
}

.icon-business-financial-4 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-4.png");
  width: 54px;
  width: 3.375rem;
  height: 58px;
  height: 3.625rem;
}

@media (max-width: 60rem) {
  .icon-business-financial-4 {
    background-image: url("../../images/app/icons/mobile/business-financial-4.png");
    width: 56px;
    width: 3.5rem;
    height: 60.5px;
    height: 3.78125rem;
    background-size: 100% auto;
  }
}

.icon-business-financial-5 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-5.png");
  width: 68px;
  width: 4.25rem;
  height: 62px;
  height: 3.875rem;
}

@media (max-width: 60rem) {
  .icon-business-financial-5 {
    background-image: url("../../images/app/icons/mobile/business-financial-5.png");
    width: 68px;
    width: 4.25rem;
    height: 62px;
    height: 3.875rem;
    background-size: 100% auto;
  }
}

.icon-business-financial-education-1 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-education-1.png");
  width: 116px;
  width: 7.25rem;
  height: 116px;
  height: 7.25rem;
}

.icon-business-financial-education-2 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-education-2.png");
  width: 116px;
  width: 7.25rem;
  height: 116px;
  height: 7.25rem;
}

.icon-business-financial-education-3 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-education-3.png");
  width: 116px;
  width: 7.25rem;
  height: 116px;
  height: 7.25rem;
}

.icon-business-financial-education-4 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-education-4.png");
  width: 116px;
  width: 7.25rem;
  height: 116px;
  height: 7.25rem;
}

.icon-business-financial-education-5 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-education-5.png");
  width: 116px;
  width: 7.25rem;
  height: 116px;
  height: 7.25rem;
}

.icon-business-financial-education-6 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-education-6.png");
  width: 116px;
  width: 7.25rem;
  height: 116px;
  height: 7.25rem;
}

.icon-business-financial-health-1 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-health-1.png");
  width: 148px;
  width: 9.25rem;
  height: 148px;
  height: 9.25rem;
}

.icon-business-financial-health-2 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-health-2.png");
  width: 148px;
  width: 9.25rem;
  height: 148px;
  height: 9.25rem;
}

.icon-business-financial-health-3 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-health-3.png");
  width: 148px;
  width: 9.25rem;
  height: 148px;
  height: 9.25rem;
}

.icon-business-financial-health-4 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-health-4.png");
  width: 148px;
  width: 9.25rem;
  height: 148px;
  height: 9.25rem;
}

.icon-business-financial-health-5 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-health-5.png");
  width: 148px;
  width: 9.25rem;
  height: 148px;
  height: 9.25rem;
}

.icon-business-financial-health {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-financial-health.png");
  width: 216px;
  width: 13.5rem;
  height: 200px;
  height: 12.5rem;
}

@media (max-width: 60rem) {
  .icon-business-financial-health {
    background-image: url("../../images/app/icons/mobile/business-financial-health.png");
    width: 240.5px;
    width: 15.03125rem;
    height: 221px;
    height: 13.8125rem;
    background-size: 100% auto;
  }
}

.icon-business-region-diy-1 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-region-diy-1.png");
  width: 145px;
  width: 9.0625rem;
  height: 145px;
  height: 9.0625rem;
}

@media (max-width: 60rem) {
  .icon-business-region-diy-1 {
    background-image: url("../../images/app/icons/mobile/business-region-diy-1.png");
    width: 105.5px;
    width: 6.59375rem;
    height: 105.5px;
    height: 6.59375rem;
    background-size: 100% auto;
  }
}

.icon-business-region-diy-2 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-region-diy-2.png");
  width: 145px;
  width: 9.0625rem;
  height: 145px;
  height: 9.0625rem;
}

@media (max-width: 60rem) {
  .icon-business-region-diy-2 {
    background-image: url("../../images/app/icons/mobile/business-region-diy-2.png");
    width: 105.5px;
    width: 6.59375rem;
    height: 105.5px;
    height: 6.59375rem;
    background-size: 100% auto;
  }
}

.icon-business-region-diy-3 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-region-diy-3.png");
  width: 145px;
  width: 9.0625rem;
  height: 145px;
  height: 9.0625rem;
}

@media (max-width: 60rem) {
  .icon-business-region-diy-3 {
    background-image: url("../../images/app/icons/mobile/business-region-diy-3.png");
    width: 105.5px;
    width: 6.59375rem;
    height: 105.5px;
    height: 6.59375rem;
    background-size: 100% auto;
  }
}

.icon-business-region-diy-4 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-region-diy-4.png");
  width: 158px;
  width: 9.875rem;
  height: 158px;
  height: 9.875rem;
}

.icon-business-region-diy-5 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/business-region-diy-5.png");
  width: 145px;
  width: 9.0625rem;
  height: 145px;
  height: 9.0625rem;
}

@media (max-width: 60rem) {
  .icon-business-region-diy-5 {
    background-image: url("../../images/app/icons/mobile/business-region-diy-5.png");
    width: 105.5px;
    width: 6.59375rem;
    height: 105.5px;
    height: 6.59375rem;
    background-size: 100% auto;
  }
}

a:hover .icon-calculator {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/calculator-hover.png");
  width: 52px;
  width: 3.25rem;
  height: 50px;
  height: 3.125rem;
}

.icon-calculator {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/calculator.png");
  width: 52px;
  width: 3.25rem;
  height: 50px;
  height: 3.125rem;
}

a:hover .icon-culture {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/culture-hover.png");
  width: 46px;
  width: 2.875rem;
  height: 43px;
  height: 2.6875rem;
}

.icon-culture {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/culture.png");
  width: 46px;
  width: 2.875rem;
  height: 43px;
  height: 2.6875rem;
}

.icon-datepicker {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/datepicker.png");
  width: 24px;
  width: 1.5rem;
  height: 18px;
  height: 1.125rem;
}

a:hover .icon-donation {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/donation-hover.png");
  width: 54px;
  width: 3.375rem;
  height: 40px;
  height: 2.5rem;
}

.icon-donation {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/donation.png");
  width: 54px;
  width: 3.375rem;
  height: 40px;
  height: 2.5rem;
}

.icon-ect {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/ect.png");
  width: 16px;
  width: 1rem;
  height: 20px;
  height: 1.25rem;
}

.icon-email {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/email.png");
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
}

@media (max-width: 60rem) {
  .icon-email {
    background-image: url("../../images/app/icons/mobile/email.png");
    width: 23px;
    width: 1.4375rem;
    height: 23px;
    height: 1.4375rem;
    background-size: 100% auto;
  }
}

.icon-excel {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/excel.png");
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
}

.icon-face-caution {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/face-caution.png");
  width: 50px;
  width: 3.125rem;
  height: 52px;
  height: 3.25rem;
}

@media (max-width: 60rem) {
  .icon-face-caution {
    background-image: url("../../images/app/icons/mobile/face-caution.png");
    width: 39.5px;
    width: 2.46875rem;
    height: 42.5px;
    height: 2.65625rem;
    background-size: 100% auto;
  }
}

.icon-face-danger {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/face-danger.png");
  width: 50px;
  width: 3.125rem;
  height: 52px;
  height: 3.25rem;
}

@media (max-width: 60rem) {
  .icon-face-danger {
    background-image: url("../../images/app/icons/mobile/face-danger.png");
    width: 40px;
    width: 2.5rem;
    height: 41.5px;
    height: 2.59375rem;
    background-size: 100% auto;
  }
}

.icon-face-excellent {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/face-excellent.png");
  width: 50px;
  width: 3.125rem;
  height: 52px;
  height: 3.25rem;
}

@media (max-width: 60rem) {
  .icon-face-excellent {
    background-image: url("../../images/app/icons/mobile/face-excellent.png");
    width: 40px;
    width: 2.5rem;
    height: 41px;
    height: 2.5625rem;
    background-size: 100% auto;
  }
}

.icon-face-good {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/face-good.png");
  width: 50px;
  width: 3.125rem;
  height: 52px;
  height: 3.25rem;
}

@media (max-width: 60rem) {
  .icon-face-good {
    background-image: url("../../images/app/icons/mobile/face-good.png");
    width: 39.5px;
    width: 2.46875rem;
    height: 42px;
    height: 2.625rem;
    background-size: 100% auto;
  }
}

.icon-face-weak {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/face-weak.png");
  width: 50px;
  width: 3.125rem;
  height: 52px;
  height: 3.25rem;
}

@media (max-width: 60rem) {
  .icon-face-weak {
    background-image: url("../../images/app/icons/mobile/face-weak.png");
    width: 39px;
    width: 2.4375rem;
    height: 41.5px;
    height: 2.59375rem;
    background-size: 100% auto;
  }
}

.icon-facebook {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/facebook.png");
  width: 10px;
  width: 0.625rem;
  height: 18px;
  height: 1.125rem;
}

a:hover .icon-finance {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/finance-hover.png");
  width: 36px;
  width: 2.25rem;
  height: 48px;
  height: 3rem;
}

.icon-finance {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/finance.png");
  width: 36px;
  width: 2.25rem;
  height: 48px;
  height: 3rem;
}

.icon-form-minus {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/form-minus.png");
  width: 10px;
  width: 0.625rem;
  height: 2px;
  height: 0.125rem;
}

.icon-form-plus {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/form-plus.png");
  width: 10px;
  width: 0.625rem;
  height: 10px;
  height: 0.625rem;
}

a:hover .icon-greeting {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/greeting-hover.png");
  width: 56px;
  width: 3.5rem;
  height: 48px;
  height: 3rem;
}

.icon-greeting {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/greeting.png");
  width: 56px;
  width: 3.5rem;
  height: 48px;
  height: 3rem;
}

a:hover .icon-heart {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/heart-hover.png");
  width: 52px;
  width: 3.25rem;
  height: 44px;
  height: 2.75rem;
}

.icon-heart {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/heart.png");
  width: 52px;
  width: 3.25rem;
  height: 44px;
  height: 2.75rem;
}

a:hover .icon-history {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/history-hover.png");
  width: 48px;
  width: 3rem;
  height: 52px;
  height: 3.25rem;
}

.icon-history {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/history.png");
  width: 48px;
  width: 3rem;
  height: 52px;
  height: 3.25rem;
}

.icon-home {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/home.png");
  width: 20px;
  width: 1.25rem;
  height: 18px;
  height: 1.125rem;
}

a:hover .icon-house-support {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/house-support-hover.png");
  width: 50px;
  width: 3.125rem;
  height: 48px;
  height: 3rem;
}

.icon-house-support {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/house-support.png");
  width: 50px;
  width: 3.125rem;
  height: 48px;
  height: 3rem;
}

.icon-hwp {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/hwp.png");
  width: 22px;
  width: 1.375rem;
  height: 20px;
  height: 1.25rem;
}

.icon-introduce-vision-culture {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/introduce-vision-culture.png");
  width: 62px;
  width: 3.875rem;
  height: 59px;
  height: 3.6875rem;
}

.icon-introduce-vision-financial {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/introduce-vision-financial.png");
  width: 48px;
  width: 3rem;
  height: 67px;
  height: 4.1875rem;
}

@media (max-width: 60rem) {
  .icon-introduce-vision-financial {
    background-image: url("../../images/app/icons/mobile/introduce-vision-financial.png");
    width: 48px;
    width: 3rem;
    height: 67px;
    height: 4.1875rem;
    background-size: 100% auto;
  }
}

.icon-introduce-vision-healthy {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/introduce-vision-healthy.png");
  width: 67px;
  width: 4.1875rem;
  height: 65px;
  height: 4.0625rem;
}

@media (max-width: 60rem) {
  .icon-introduce-vision-healthy {
    background-image: url("../../images/app/icons/mobile/introduce-vision-healthy.png");
    width: 67px;
    width: 4.1875rem;
    height: 65px;
    height: 4.0625rem;
    background-size: 100% auto;
  }
}

.icon-layer-close {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/layer-close.png");
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
}

@media (max-width: 60rem) {
  .icon-layer-close {
    background-image: url("../../images/app/icons/mobile/layer-close.png");
    width: 17px;
    width: 1.0625rem;
    height: 17px;
    height: 1.0625rem;
    background-size: 100% auto;
  }
}

a:hover .icon-library {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/library-hover.png");
  width: 52px;
  width: 3.25rem;
  height: 42px;
  height: 2.625rem;
}

.icon-library {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/library.png");
  width: 52px;
  width: 3.25rem;
  height: 42px;
  height: 2.625rem;
}

.icon-login {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/login.png");
  width: 14px;
  width: 0.875rem;
  height: 18px;
  height: 1.125rem;
}

@media (max-width: 60rem) {
  .icon-login {
    background-image: url("../../images/app/icons/mobile/login.png");
    width: 17px;
    width: 1.0625rem;
    height: 22px;
    height: 1.375rem;
    background-size: 100% auto;
  }
}

.icon-logout {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/logout.png");
  width: 14px;
  width: 0.875rem;
  height: 18px;
  height: 1.125rem;
}

@media (max-width: 60rem) {
  .icon-logout {
    background-image: url("../../images/app/icons/mobile/logout.png");
    width: 17px;
    width: 1.0625rem;
    height: 21.5px;
    height: 1.34375rem;
    background-size: 100% auto;
  }
}

a:hover .icon-map {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/map-hover.png");
  width: 50px;
  width: 3.125rem;
  height: 54px;
  height: 3.375rem;
}

.icon-map-pin {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/map-pin.png");
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
}

@media (max-width: 60rem) {
  .icon-map-pin {
    background-image: url("../../images/app/icons/mobile/map-pin.png");
    width: 23px;
    width: 1.4375rem;
    height: 23px;
    height: 1.4375rem;
    background-size: 100% auto;
  }
}

.icon-map {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/map.png");
  width: 50px;
  width: 3.125rem;
  height: 54px;
  height: 3.375rem;
}

.icon-mypage {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/mypage.png");
  width: 16px;
  width: 1rem;
  height: 18px;
  height: 1.125rem;
}

.icon-naver {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/naver.png");
  width: 18px;
  width: 1.125rem;
  height: 18px;
  height: 1.125rem;
}

a:hover .icon-news {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/news-hover.png");
  width: 26px;
  width: 1.625rem;
  height: 50px;
  height: 3.125rem;
}

.icon-news {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/news.png");
  width: 26px;
  width: 1.625rem;
  height: 50px;
  height: 3.125rem;
}

a:hover .icon-note {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/note-hover.png");
  width: 46px;
  width: 2.875rem;
  height: 48px;
  height: 3rem;
}

.icon-note {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/note.png");
  width: 46px;
  width: 2.875rem;
  height: 48px;
  height: 3rem;
}

a:hover .icon-notice {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/notice-hover.png");
  width: 46px;
  width: 2.875rem;
  height: 52px;
  height: 3.25rem;
}

.icon-notice {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/notice.png");
  width: 46px;
  width: 2.875rem;
  height: 52px;
  height: 3.25rem;
}

.icon-pdf {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/pdf.png");
  width: 20px;
  width: 1.25rem;
  height: 22px;
  height: 1.375rem;
}

a:hover .icon-people {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/people-hover.png");
  width: 52px;
  width: 3.25rem;
  height: 44px;
  height: 2.75rem;
}

.icon-people {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/people.png");
  width: 52px;
  width: 3.25rem;
  height: 44px;
  height: 2.75rem;
}

.icon-play {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/play.png");
  width: 8px;
  width: 0.5rem;
  height: 12px;
  height: 0.75rem;
}

@media (max-width: 60rem) {
  .icon-play {
    background-image: url("../../images/app/icons/mobile/play.png");
    width: 9px;
    width: 0.5625rem;
    height: 13px;
    height: 0.8125rem;
    background-size: 100% auto;
  }
}

.icon-powerpoint {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/powerpoint.png");
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
}

a:hover .icon-sandglass {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/sandglass-hover.png");
  width: 48px;
  width: 3rem;
  height: 48px;
  height: 3rem;
}

.icon-sandglass {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/sandglass.png");
  width: 48px;
  width: 3rem;
  height: 48px;
  height: 3rem;
}

.icon-service-1 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/service-1.png");
  width: 40px;
  width: 2.5rem;
  height: 36px;
  height: 2.25rem;
}

@media (max-width: 60rem) {
  .icon-service-1 {
    background-image: url("../../images/app/icons/mobile/service-1.png");
    width: 55px;
    width: 3.4375rem;
    height: 48px;
    height: 3rem;
    background-size: 100% auto;
  }
}

.icon-service-2 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/service-2.png");
  width: 36px;
  width: 2.25rem;
  height: 34px;
  height: 2.125rem;
}

@media (max-width: 60rem) {
  .icon-service-2 {
    background-image: url("../../images/app/icons/mobile/service-2.png");
    width: 55px;
    width: 3.4375rem;
    height: 54.5px;
    height: 3.40625rem;
    background-size: 100% auto;
  }
}

.icon-service-3 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/service-3.png");
  width: 40px;
  width: 2.5rem;
  height: 38px;
  height: 2.375rem;
}

@media (max-width: 60rem) {
  .icon-service-3 {
    background-image: url("../../images/app/icons/mobile/service-3.png");
    width: 55px;
    width: 3.4375rem;
    height: 53px;
    height: 3.3125rem;
    background-size: 100% auto;
  }
}

.icon-service-4 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/service-4.png");
  width: 36px;
  width: 2.25rem;
  height: 38px;
  height: 2.375rem;
}

@media (max-width: 60rem) {
  .icon-service-4 {
    background-image: url("../../images/app/icons/mobile/service-4.png");
    width: 52px;
    width: 3.25rem;
    height: 55px;
    height: 3.4375rem;
    background-size: 100% auto;
  }
}

.icon-service-5 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/service-5.png");
  width: 42px;
  width: 2.625rem;
  height: 36px;
  height: 2.25rem;
}

@media (max-width: 60rem) {
  .icon-service-5 {
    background-image: url("../../images/app/icons/mobile/service-5.png");
    width: 55.5px;
    width: 3.46875rem;
    height: 49px;
    height: 3.0625rem;
    background-size: 100% auto;
  }
}

.icon-service-6 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/service-6.png");
  width: 46px;
  width: 2.875rem;
  height: 40px;
  height: 2.5rem;
}

@media (max-width: 60rem) {
  .icon-service-6 {
    background-image: url("../../images/app/icons/mobile/service-6.png");
    width: 55.5px;
    width: 3.46875rem;
    height: 48px;
    height: 3rem;
    background-size: 100% auto;
  }
}

.icon-service-7 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/service-7.png");
  width: 44px;
  width: 2.75rem;
  height: 40px;
  height: 2.5rem;
}

@media (max-width: 60rem) {
  .icon-service-7 {
    background-image: url("../../images/app/icons/mobile/service-7.png");
    width: 55px;
    width: 3.4375rem;
    height: 50px;
    height: 3.125rem;
    background-size: 100% auto;
  }
}

.icon-service-8 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/service-8.png");
  width: 46px;
  width: 2.875rem;
  height: 44px;
  height: 2.75rem;
}

@media (max-width: 60rem) {
  .icon-service-8 {
    background-image: url("../../images/app/icons/mobile/service-8.png");
    width: 55px;
    width: 3.4375rem;
    height: 52.5px;
    height: 3.28125rem;
    background-size: 100% auto;
  }
}

.icon-service-9 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/service-9.png");
  width: 44px;
  width: 2.75rem;
  height: 42px;
  height: 2.625rem;
}

.icon-subway {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/subway.png");
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
}

@media (max-width: 60rem) {
  .icon-subway {
    background-image: url("../../images/app/icons/mobile/subway.png");
    width: 23px;
    width: 1.4375rem;
    height: 23px;
    height: 1.4375rem;
    background-size: 100% auto;
  }
}

.icon-tel {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/tel.png");
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
}

@media (max-width: 60rem) {
  .icon-tel {
    background-image: url("../../images/app/icons/mobile/tel.png");
    width: 23px;
    width: 1.4375rem;
    height: 23px;
    height: 1.4375rem;
    background-size: 100% auto;
  }
}

a:hover .icon-vision {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/vision-hover.png");
  width: 54px;
  width: 3.375rem;
  height: 46px;
  height: 2.875rem;
}

.icon-vision {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/vision.png");
  width: 54px;
  width: 3.375rem;
  height: 46px;
  height: 2.875rem;
}

.icon-volunteer-time {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/volunteer-time.png");
  width: 72px;
  width: 4.5rem;
  height: 72px;
  height: 4.5rem;
}

@media (max-width: 60rem) {
  .icon-volunteer-time {
    background-image: url("../../images/app/icons/mobile/volunteer-time.png");
    width: 79px;
    width: 4.9375rem;
    height: 78px;
    height: 4.875rem;
    background-size: 100% auto;
  }
}

.icon-volunteer {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/volunteer.png");
  width: 64px;
  width: 4rem;
  height: 62px;
  height: 3.875rem;
}

@media (max-width: 60rem) {
  .icon-volunteer {
    background-image: url("../../images/app/icons/mobile/volunteer.png");
    width: 69.5px;
    width: 4.34375rem;
    height: 67px;
    height: 4.1875rem;
    background-size: 100% auto;
  }
}

.icon-word {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/pc/word.png");
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
}

/* 21.08.06 add */

.icon-business-culture-3 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/add/business-culture-3.png");
  width: 74px;
  width: 4.625rem;
  height: 72px;
  height: 4.5rem;
}

.icon-introduce-vision-envirement {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/add/introduce-vision-envirement.png");
  width: 73px;
  width: 4.5625rem;
  height: 69px;
  height: 4.3125rem;
}

/* 2022-03-18 */

.icon-business-culture-5 {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/add/business-culture-5.png");
  width: 70px;
  width: 4.375rem;
  height: 56px;
  height: 3.5rem;
}

.icon-environment {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/add/icon_environment.png");
  width: 49px;
  width: 3.0625rem;
  height: 48px;
  height: 3rem;
}

a:hover .icon-environment {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/add/icon_environment_hover.png");
  width: 49px;
  width: 3.0625rem;
  height: 48px;
  height: 3rem;
}

.icon-environment-campaign {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/add/environment-campaign.png");
  width: 70px;
  width: 4.375rem;
  height: 67px;
  height: 4.1875rem;
}

.icon-school-challenge {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/add/school-challenge.png");
  width: 72px;
  width: 4.5rem;
  height: 67px;
  height: 4.1875rem;
}

.icon-environment-restore {
  background-repeat: no-repeat;
  background-image: url("../../images/app/icons/add/environment-restore-top.png");
  width: 89px;
  width: 5.5625rem;
  height: 67px;
  height: 4.1875rem;
}